# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- Julia
- Java

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. Java
4. C

Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2.Panda
3.matplotlib
4.ggplot

| Data Science Tools|
|-------------------|
| spark |
| hadoop |
| julia |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

In [ ]:
## Author
FH